# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# Backend
# =========================
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/**/*.pyd

# =========================
# Environment Variables
# =========================
.env
.env.*
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db