:root {
  --color-bg: #111827;
  --color-surface: #232D3F;
  --color-surface-soft: #1B2435;
  --color-surface-hover: #2B3548;

  --color-text: #F8FAFC;
  --color-text-muted: #94A3B8;

  --color-primary-dark: #005B41;
  --color-primary: #008170;
  --color-primary-light: #00A884;

  --color-border: rgba(255, 255, 255, 0.05);

  --color-toggle-off: #475569;
}

html.light {
  --color-bg: #F1F5F9;
  --color-surface: #FFFFFF;
  --color-surface-soft: #E2E8F0;
  --color-surface-hover: #CBD5E1;

  --color-text: #0F172A;
  --color-text-muted: #64748B;

  --color-primary-dark: #005B41;
  --color-primary: #008170;
  --color-primary-light: #00A884;

  --color-border: rgba(15, 23, 42, 0.08);

  --color-toggle-off: #CBD5E1;
}

:root {

  /* Light Theme */

  --bg: #F8FAFC;
  --surface: #FFFFFF;

  --sidebar: #E8EEF4;

  --primary: #005B41;
  --secondary: #008170;

  --text: #111827;
  --text-secondary: #6B7280;

  --success: #22C55E;
  --warning: #FACC15;
  --danger: #EF4444;
  --info: #38BDF8;

}

.dark{

  --bg:#0F0F0F;
  --surface:#232D3F;

  --sidebar:#232D3F;

  --primary:#005B41;
  --secondary:#008170;

  --text:#F8FAFC;
  --text-secondary:#CBD5E1;

  --success:#22C55E;
  --warning:#FACC15;
  --danger:#EF4444;
  --info:#38BDF8;

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    #00A884,
    #008170,
    #005B41
  );

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00C897;
}

.app-bg {
  background-color: var(--color-bg);
}

.app-surface {
  background-color: var(--color-surface);
}

.app-surface-soft {
  background-color: var(--color-surface-soft);
}

.app-surface-hover:hover {
  background-color: var(--color-surface-hover);
}

.app-text {
  color: var(--color-text);
}

.app-text-muted {
  color: var(--color-text-muted);
}

.app-border {
  border-color: var(--color-border);
}

.app-primary {
  color: var(--color-primary-light);
}

.app-primary-bg {
  background-color: var(--color-primary);
}

.app-primary-bg:hover {
  background-color: var(--color-primary-light);
}

.app-toggle-off {
  background-color: var(--color-toggle-off);
}

html,
body,
#app {
  min-height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}